/* CSS Document */

/* Services */

	img.serveimg { margin-bottom: 50px; margin-top: 5px; }

	table.im_service_table th { background: #3F3F4E; color: #E5E4E7; text-transform: uppercase; font-weight: 500; font-family: 'brandon-grotesque', sans-serif; text-align: left; }

	table.im_service_table th p { display: none; }

	.im_service_table td { padding: 10px 15px; font-size: 0.9em; }

	.im_service_table th { font-size: 0.6em; }
	
	.im_service_table td { font-size: 0.75em; }
	
  	.im_service_table td.serv_price { width: 7%;}
